
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 126 95% 7%;

    --card: 0 0% 100%;
    --card-foreground: 126 95% 7%;

    --popover: 0 0% 100%;
    --popover-foreground: 126 95% 7%;

    --primary: 126 95% 7%;
    --primary-foreground: 0 0% 98%;

    --secondary: 97 58% 81%;
    --secondary-foreground: 126 95% 7%;

    --muted: 97 58% 85%;
    --muted-foreground: 126 40% 35%;

    --accent: 97 58% 85%;
    --accent-foreground: 126 95% 7%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 97 58% 88%;
    --input: 97 58% 88%;
    --ring: 126 95% 7%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 126 40% 35%;

    --sidebar-primary: 126 95% 7%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 97 58% 85%;

    --sidebar-accent-foreground: 126 95% 7%;

    --sidebar-border: 97 58% 88%;

    --sidebar-ring: 126 95% 7%;
  }

  .dark {
    --background: 126 95% 7%;
    --foreground: 0 0% 98%;

    --card: 126 95% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 126 95% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 126 95% 7%;

    --secondary: 126 40% 20%;
    --secondary-foreground: 0 0% 98%;

    --muted: 126 40% 20%;
    --muted-foreground: 97 58% 75%;

    --accent: 126 40% 20%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 126 40% 20%;
    --input: 126 40% 20%;
    --ring: 97 58% 81%;
    --sidebar-background: 126 95% 7%;
    --sidebar-foreground: 97 58% 85%;
    --sidebar-primary: 97 58% 81%;
    --sidebar-primary-foreground: 126 95% 7%;
    --sidebar-accent: 126 40% 15%;
    --sidebar-accent-foreground: 97 58% 85%;
    --sidebar-border: 126 40% 15%;
    --sidebar-ring: 97 58% 81%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
